.parent {
  background-image: url('../assets/img/wood-blk-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

.locate-form::before {
  background: inherit;
  box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.01);
  content: "";
  position: absolute;
  z-index: -1;
  height: 110%;
  width: 110%;
  border-radius: 25px;
  margin-top: 10px;
  filter: blur(2px);
}

.locate-form {
  position: absolute;
  background: inherit;
  overflow: hidden;
  transform: translateX(90%);
  padding-left: 2rem;
  padding-right: 2rem;
  height: 80%;
  width: 35%;
  border-radius: 25px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid burlywood;
}

.forms {
  width: 100%;
}

.forms input::placeholder {
  color: thistle;
}

@media (max-width: 550px) {
  .parent {
    background-image: url('../assets/img/blk-bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
  }

  .locate-form {
    transform: translateX(0%);
    width: 100%;
  }
}
